body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
    text-align: center;
    padding: 5px;
    background: linear-gradient(to right, #7f00ff, #e6cc00);
    color: azure;
    height: 140px;
    width: 100%;
    line-height: 0.5;
}

h1 {
    font-size: 50px;
}

.subtext {
    font-size: 25px;
}

h2 {
    font-size: 30px;
}

p {
    font-size: 18px;
}
